.design-wrap {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .container-design {
    display: flex;
    justify-content: space-between;
    .disign-block {
      width: 400px;
      align-items: flex-start;
      justify-content:center;
    }
    .design-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #16a085;
      font-size: 20px;
      text-transform: uppercase;
    }
    .design-button {
      display: block;
      padding-left:0;
    }
  }
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}